body {
	min-width: 900px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", "sans-serif";
	font-style: normal;
	font-size: 16px;
	line-height: 22px;
	color: #000;
	background-color: #fff;
}
h1 {
	margin: 0;
	font-family: "Roboto", "Arial", "sans-serif";
	font-style: normal;
	font-size: 30px;
	line-height: 1.4;
	color: #000;
}
h2 {
	margin: 0;
	font-family: "Roboto", "Arial", "sans-serif";
	font-style: normal;
	font-size: 22px;
	line-height: 1.4;
	color: #000;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 880px;
	min-height: 20px;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 10px;
	outline: 1px solid green;
}
.main-header {
	margin-top: 10px;
	margin-bottom: 80px;
}
.main-header__top-wrapper {
	position: relative;
	margin-bottom: 10px;
}
.main__logo {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.main__nav {

}
.main-nav__list {
	list-style: none;
	font-size: 0;
}
.main-nav__list-item {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
}